<div class="container">
    <form (submit)="submit()">
        username <input type="text" [(ngModel)]="newUser.username" required minlength=3 #username="ngModel" name="newUser.username" id="newUser.username">
        email <input type="email" required [(ngModel)]="newUser.userName" name="newUser.email" id="newUser.email" #userName="ngModel">
        password <input type="password" required minlength="8" name="newUser.password" id="newUser.password" [(ngModel)]="newUser.password" #password="ngModel">
        confirm password <input type="password" required minlength="8" name="newUser.confirm" id="newUser.confirm" #confirm="ngModel" [(ngModel)]="newUser.confirm"><br>
        <button class='btn'>Submit</button>
    </form>
</div>
