<div class="container">
      <form (submit)="register()">
          <p class="msg {{regMessage.type}}">{{regMessage.msg}}</p>
          username <input type="text" [(ngModel)]="newUser.username" required minlength=3 #username="ngModel" name="newUser.username" id="newUser.username">
          email <input type="email" required [(ngModel)]="newUser.email" name="newUser.email" id="newUser.email" #email="ngModel">
          password <input type="password" required minlength="8" name="newUser.password" id="newUser.password" [(ngModel)]="newUser.password" #password="ngModel">
          confirm password <input type="password" required minlength="8" name="newUser.confirm" id="newUser.confirm" #confirm="ngModel" [(ngModel)]="newUser.confirm"><br>
          <button class='btn'>Register</button>
      </form>
      <form (submit)="login()">
          <p class="msg {{logMessage.type}}">{{logMessage.msg}}</p>
          email <input type="email" [(ngModel)]="user.email" required minlength=3 #email="ngModel" name="user.email" id="user.email">
          password <input type="password" required minlength="8" name="user.password" id="user.password" [(ngModel)]="user.password" #password="ngModel">
          <button class='btn'>Log in</button>
      </form>
</div>
