form{
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
}

.red {
  color: red;
}

.grn {
  color: green;
}

.msg {
  font-size: 10px;
}
