<div id='game-canvas' style="display: flex; justify-content: center;"></div>

<div class="legend">
  <div class="legendItem">
    <img src="arrows.png" alt="arrows" width="75px;" height="50px">
    <p>Use arrow keys to move and jump</p>
  </div>
  <div class="legendItem">
      <img src="star.png" alt="star" height="24px" width="22px">
      <p>  10 points. Cures poison. Restores 1 health (max 50)</p>
  </div>
  <div class="legendItem">
    <img src="bomb.png" alt="bomb" height="15px" width="15px">
    <p>  -1 health per hit</p>
  </div>
  <div class="legendItem">
    <div class="poisonBomb"></div>
      <p>Poison: -5 health per hit, movement speed halved and health decays until cured</p>
    </div>
</div>
